


{% extends "core/_layout.twig" %}

{% block title %} Main Page {% endblock %}


{% block main_content_title %} This is game {{ game }}  {% endblock %}

{% block content %}


    <table class="table">
        <tbody>

         <tr>
             {% for key, row in board[0] %}
                <th> <a class="btn btn-default" href="#" id="column-{{ key  }}">X</a></th>
             {% endfor %}
         </tr>


        {% for row in board %}

            <tr>
                {% for key, cell in row %}
                    <td> {{ cell }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}




