

{% extends "core/_layout.twig" %}

{% block title %} Main Page {% endblock %}


{% block main_content_title %} Hello User {% endblock %}

{% block content %}
    <h1>Welcome, but you may not be here! :D </h1>

    <p>
        <a href="{{ base_url }}/games/1">Player one</a>
    </p>

    <p>
        <a href="{{ base_url }}/games/2">Player two</a>
    </p>

{% endblock %}



